@model List<List<SectionOfCurricularViewModel>>

<section id="curricular" class="curricular">
    <div class="container">
        <div class="curricular-head">
            <h3>Учебна програма</h3>
            <p>Учебната програма се състои от 4 модула. Зрелостният изпит включва изучаваният материал от суптветните модули. </p>
        </div>
        <div class="curricular-modules-info">
            <ul class="curricular-modules">
                <li>
                    <div class="single-list-topics-content">
                        <div class="single-list-topics-icon">
                            <i class="oop"></i>
                        </div>
                        <h2><a class="single-list"><b>ООП</b></a></h2>
                        <p>11 клас I ви срок</p>
                    </div>

                    <ul class="sections-of-curricular">
                        @foreach (var s in Model[0])
                        {
                            <li class="section-of-curricular">
                            <a class="curricular-element" asp-controller="SectionOfCurricular" asp-action="Index" asp-route-id="@s.Id">
                                <div class="section-header">
                                    <p class="">@s.Title</p>
                                </div>
                                <div class="section-info">
                                        @s.Lessons урока
                                    <span class="separator">|</span>
                                        @s.Exercises упражнения
                                </div>
                            </a>
                            </li>
                        }
                    </ul>
                </li>
                <li>
                    <div class="single-list-topics-content">
                        <div class="single-list-topics-icon">
                            <i class="algorithm"></i>
                        </div>
                        <h2><a class="single-list">Data Structures and Algorithms</a></h2>
                        <p>11 клас II ви срок</p>
                    </div>
                    <ul class="sections-of-curricular">
                        @foreach (var s in Model[1])
                        {
                            <li class="section-of-curricular">
                            <a class="curricular-element" asp-controller="SectionOfCurricular" asp-action="Index" asp-route-id="@s.Id">
                                <div class="section-header">
                                    <p>@s.Title</p>
                                </div>
                                <div class="section-info">
                                        @s.Lessons урока
                                    <span class="separator">|</span>
                                        @s.Exercises упражнения
                                </div>
                            </a>
                            </li>
                        }
                    </ul>
                </li>
                <li>
                    <div class="single-list-topics-content">
                        <div class="single-list-topics-icon">
                            <i class="sql"></i>
                        </div>
                        <h2><a class="single-list">Relation Databases</a></h2>
                        <p>12 клас I ви срок</p>
                    </div>
                    <ul class="sections-of-curricular">
                        @foreach (var s in Model[2])
                        {
                            <li class="section-of-curricular">
                            <a class="curricular-element" asp-controller="SectionOfCurricular" asp-action="Index" asp-route-id="@s.Id">
                                <div class="section-header">
                                    <p>@s.Title</p>
                                </div>
                                <div class="section-info">
                                        @s.Lessons урока
                                    <span class="separator">|</span>
                                        @s.Exercises упражнения
                                </div>
                            </a>
                            </li>
                        }
                    </ul>
                </li>
                <li>
                    <div class="single-list-topics-content">
                        <div class="single-list-topics-icon">
                            <i class="system"></i>
                        </div>
                        <h2><a class="single-list">Programming of IT systems</a></h2>
                        <p>12 клас II ви срок</p>
                    </div>
                    <ul class="sections-of-curricular">
                        @foreach (var s in Model[3])
                        {
                            <li class="section-of-curricular">
                                <a class="curricular-element" asp-controller="SectionOfCurricular" asp-action="Index" asp-route-id="@s.Id">
                                    <div class="section-header">
                                        <p>@s.Title</p>
                                    </div>
                                    <div class="section-info">
                                        @s.Lessons урока
                                        <span class="separator">|</span>
                                        @s.Exercises упражнения
                                    </div>
                                </a>
                            </li>

                        }
                    </ul>
                </li>
            </ul>
        </div>
    </div><!--/.container-->

</section>