@model AdminViewModel

<section>
    <link rel="stylesheet" href="~/css/admin.min.css">
    <link rel="stylesheet" href="~/css/admin.scss">
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
         data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">

        <div class="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Регистрация на потребител от МОН</h4>
                                <div class="feed-widget">
                                    <a asp-controller="Admin" asp-area="Admin" asp-action="CreateMonUser">
                                        <ul class="list-style-none feed-body m-0 p-b-20">
                                            <li class="feed-item">
                                                <div class="feed-icon bg-info"><i class="far fa-bell"></i></div>
                                                Create MON USER
                                                <span class="ms-auto font-12 text-muted">Just Now</span>
                                            </li>
                                        </ul>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <!-- column -->
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <!-- title -->
                                <div class="d-md-flex">
                                    <div>
                                        <h4 class="card-title">Изчакващи учители</h4>
                                        <h5 class="card-subtitle">Одобрение на учителски акаунти</h5>
                                    </div>
                                    <div class="ms-auto">
                                        <form method="post">
                                            <div class="dl">
                                                <select asp-for="Filtration" class="form-select shadow-none" onchange="this.form.submit()">
                                                    <option value="0" selected>Всички потребители</option>
                                                    <option value="1">Ученици</option>
                                                    <option value="2">Учители</option>
                                                    <option value="3">Потребители на МОН</option>
                                                </select>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <!-- title -->
                            </div>
                            <div class="table-responsive">
                                <table class="table v-middle">
                                    <thead>
                                        <tr class="bg-light">
                                            <th style="width: 20em;" class="border-top-0">Име</th>
                                            <th style="width: 13em;" class="border-top-0">Град</th>
                                            @if (Model.Filtration == 1 || Model.Filtration == 2)
                                            {
                                                <th style="width: 47em;" class="border-top-0">Училище</th>
                                            }
                                            <th style="width: 12em;" class="border-top-0">Роля</th>
                                            <th class="border-top-0">Изтрий</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var u in Model.Users)
                                        {
                                            <tr>
                                                <td style="vertical-align: middle; font-size: medium;">
                                                    <div class="d-flex align-items-center">
                                                        <div class="m-r-10">
                                                            <div class="testimonial-img">
                                                                <img src="@u.ProfilePictureUrl">
                                                            </div>
                                                        </div>
                                                        <div style="margin-left:15px;">
                                                            <h4 class="m-b-0 font-16">@u.Name</h4>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td style="vertical-align: middle; font-size: medium;">@u.City</td>
                                                @if (Model.Filtration == 1 || Model.Filtration == 2)
                                                {
                                                    <td style="vertical-align: middle; font-size: medium;">@u.SchoolName</td>
                                                }
                                                <td style="vertical-align: middle; font-size: medium;">@u.Role</td>
                                                <td style="vertical-align: middle; font-size: medium;">
                                                    <a asp-controller="Admin" asp-area="Admin" asp-action="DeleteUser" asp-route-id="@u.Id" class="btn btn-danger st">Изтрий</a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                                @if (Model.Filtration == 0)
                                {
                                    <nav style="display: ruby-text;">
                                        <ul class="pagination pagination-lg">
                                            @for (int i = 1; i <= (int)TempData["pages"]; i++)
                                            {
                                                if ($"{i}" == TempData["curr"].ToString())
                                                {
                                                    <li class="page-item disabled">
                                                        <a class="page-link" href="#" tabindex="-1">@i</a>
                                                    </li>
                                                }
                                                else
                                                {
                                                    <li class="page-item">
                                                        <a class="page-link" asp-controller="Admin" asp-action="Index" asp-route-id="@i">@i</a>
                                                    </li>
                                                }
                                            }
                                        </ul>
                                    </nav>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- column -->
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Изчакващи учители за одобрение</h4>
                            </div>
                            <div class="comment-widgets scrollable">
                                @if (Model.Teachers.Count == 0)
                                {
                                    <span class="m-b-15 d-block">
                                        Няма изчакващи учители
                                    </span>
                                }
                                else
                                {
                                    @foreach (var t in Model.Teachers)
                                    {
                                        <div class="d-flex flex-row comment-row m-t-0">
                                            <div class="p-2">
                                                <div class="testimonial-img">
                                                    <img src="@t.ProfilePictureUrl">
                                                </div>
                                            </div>
                                            <div class="comment-text w-100">
                                                <h6 class="font-medium" style="font-size: 1.4rem!important;">@t.Name</h6>
                                                <span class="m-b-15 d-block">
                                                    @t.AboutMe
                                                </span>
                                                @if (t.Subject != null)
                                                {
                                                    <span class="m-b-15 d-block">
                                                        Учител по @t.Subject
                                                    </span>
                                                }
                                                <span class="m-b-15 d-block">
                                                    Стаж @t.Experience
                                                </span>
                                                <span class="m-b-15 d-block">
                                                    От @t.SchoolName в град @t.City
                                                </span>
                                                <div class="comment-footer">
                                                    <span class="text-muted float-end">@t.CreatedOn</span>
                                                    <div style="margin-block: 1em;">
                                                        <a asp-controller="Admin" asp-area="Admin" asp-action="GiveRoleToTeacher" asp-route-id="@t.UserId" class="btn btn-success st" style="margin-right:0.8em;">Одобри</a>
                                                        <a asp-controller="Admin" asp-area="Admin" asp-action="DeclineTeacherRole" asp-route-id="@t.TeacherId" class="btn btn-danger st">Oтхвърли</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                                <!-- Comment Row -->

                            </div>
                        </div>
                    </div>
                    @*   <div class="col-lg-6">
                    <div class="card">
                    <div class="card-body">
                    <h4 class="card-title">Recent Comments</h4>
                    </div>
                    <div class="comment-widgets scrollable">
                    <!-- Comment Row -->
                    <div class="d-flex flex-row comment-row m-t-0">
                    <div class="p-2">
                    <img src="../../assets/images/users/1.jpg" alt="user" width="50"
                    class="rounded-circle">
                    </div>
                    <div class="comment-text w-100">
                    <h6 class="font-medium">James Anderson</h6>
                    <span class="m-b-15 d-block">
                    Lorem Ipsum is simply dummy text of the printing
                    and type setting industry.
                    </span>
                    <div class="comment-footer">
                    <span class="text-muted float-end">April 14, 2021</span> <span class="label label-rounded label-primary">Pending</span> <span class="action-icons">
                    <a href="javascript:void(0)"><i class="ti-pencil-alt"></i></a>
                    <a href="javascript:void(0)"><i class="ti-check"></i></a>
                    <a href="javascript:void(0)"><i class="ti-heart"></i></a>
                    </span>
                    </div>
                    </div>
                    </div>
                    <!-- Comment Row -->
                    <div class="d-flex flex-row comment-row">
                    <div class="p-2">
                    <img src="../../assets/images/users/4.jpg" alt="user" width="50"
                    class="rounded-circle">
                    </div>
                    <div class="comment-text active w-100">
                    <h6 class="font-medium">Michael Jorden</h6>
                    <span class="m-b-15 d-block">
                    Lorem Ipsum is simply dummy text of the printing
                    and type setting industry.
                    </span>
                    <div class="comment-footer ">
                    <span class="text-muted float-end">April 14, 2021</span>
                    <span class="label label-success label-rounded">Approved</span>
                    <span class="action-icons active">
                    <a href="javascript:void(0)"><i class="ti-pencil-alt"></i></a>
                    <a href="javascript:void(0)"><i class="icon-close"></i></a>
                    <a href="javascript:void(0)"><i class="ti-heart text-danger"></i></a>
                    </span>
                    </div>
                    </div>
                    </div>
                    <!-- Comment Row -->
                    <div class="d-flex flex-row comment-row">
                    <div class="p-2">
                    <img src="../../assets/images/users/5.jpg" alt="user" width="50"
                    class="rounded-circle">
                    </div>
                    <div class="comment-text w-100">
                    <h6 class="font-medium">Johnathan Doeting</h6>
                    <span class="m-b-15 d-block">
                    Lorem Ipsum is simply dummy text of the printing
                    and type setting industry.
                    </span>
                    <div class="comment-footer">
                    <span class="text-muted float-end">April 14, 2021</span>
                    <span class="label label-rounded label-danger">Rejected</span>
                    <span class="action-icons">
                    <a href="javascript:void(0)"><i class="ti-pencil-alt"></i></a>
                    <a href="javascript:void(0)"><i class="ti-check"></i></a>
                    <a href="javascript:void(0)"><i class="ti-heart"></i></a>
                    </span>
                    </div>
                    </div>
                    </div>
                    </div>
                    </div>
                    </div> *@
                </div>
            </div>
        </div>
    </div>
</section>



<script src="/js/admin.js"></script>