@model PostViewModel

@{
    ViewBag.Title = "Детайли на поста";

}

<section>
    <br>
    <br>
    @if (Model.Images.Count > 0)
    {
        <div id="myCarousel" class="carousel slide" data-ride="carousel" style=" padding-inline:10%; border-radius:10px;">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                @for (int i = 1; i < Model.Images.Count; i++)
                {
                    <li data-target="#myCarousel" data-slide-to="@i"></li>
                }
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" style="height: 36em; margin-left:10%; margin-right:10%; width:80%; border-radius:10px;">
                <div class="item active">
                    <a href="@Model.Images[0]">
                    <img src="@Model.Images[0]" style="border-radius: 10px;" />
                    </a>
                </div>
                @foreach (var item in Model.Images.Skip(1).ToList())
                {
                    <div class="item">
                        <a href="@item">
                        <img src="@item" alt="Los Angeles" style="border-radius: 10px;">
                        </a>
                    </div>
                }


                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" data-slide="prev" style="border-radius: 10px;">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next" style="border-radius: 10px;">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>


        </div>
    }
    <br>
    <div class="container" style="padding-left:0 !important; padding-right: 0!important;">
        <div class="panel">
            <div class="panel-body">
                <div class="media-block">
                    <div class="col-sm-2">
                        <a asp-controller="Profile" asp-action="Index" asp-route-id="@Model.UserId">
                            <div class="testimonial-img" style="width:70px!important; height:70px!important;">
                                <img src="@Model.UserProfilePicture" alt="explore person">
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-10" style="margin-left:-5em;">
                        <p class="explore-rating-price">
                            <a href="#"> @Model.PostedOn</a>
                            <span class="explore-price-box">
                                <span class="explore-price">@Model.UserRole</span>
                            </span>
                            <a asp-controller="Profile" asp-action="Index" asp-route-id="@Model.UserId">@Model.UserName</a>
                            <br>
                        <p style="text-transform:uppercase;"><b>@Model.Title</b></p>

                        </p>
                    </div>

                    <div class="media-body" style="display:block!important;">
                        <p style="margin-left: 9.5em;">@Model.ShortDescription</p>
                        <p style="margin-left: 9.5em;">@Model.Description</p>
                        <br>
                    </div>
                </div>
            </div>
            <br>
            <br>
        </div>
    </div>
    <div class="container" style="padding-left:0 !important; padding-right: 0!important;">
        <p class="question-title">Коментари</p>
        <div class="col-md-12 bootstrap snippets" style="padding: 0!important;">
            <div class="panel">
                <form method="post" enctype="multipart/form-data" asp-controller="Comment" asp-action="Create">
                    <div class="panel-body">
                        <input type="hidden" asp-for="@Model.Id" />
                        <textarea asp-for="CommentModel.Content" class="form-control" rows="2" placeholder="Сподели своето мнение или възникнал въпрос"></textarea>
                        <div class="mar-top clearfix">
                            <button style="margin-top:0.7em;" class="btn btn-sm btn-primary pull-right" type="submit"><i class="fa fa-pencil fa-fw"></i> Сподели</button>
                            <label class="btn btn-trans btn-icon fa fa-camera add-tooltip" for="uploadCommentPicture"></label>
                            <input asp-for="CommentModel.Images" id="uploadCommentPicture" style="opacity:0; z-index=-1;position:absolute;" for="ProfilePictureUrl" multiple accept="image/gif, image/jpeg, image/png">
                        </div>
                    </div>
                </form>
            </div>

            <div class="panel">
                @if (Model.Comments.Count == 0)
                {
                    <p style="margin-left: 1em;">Няма коментари</p>
                }
                else
                {
                    @foreach (var comment in Model.Comments)
                    {
                        <div class="panel-body">
                            <!-- Newsfeed Content -->
                            <!--===================================================-->
                            <div class="media-block">
                                <div class="col-sm-2">
                                    <a asp-controller="Profile" asp-action="Index" asp-route-id="@comment.UserId">
                                        <div class="testimonial-img" style="width:70px!important; height:70px!important;">
                                            <img src="@comment.ProfilePicture" alt="explore person">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-sm-10" style="margin-left:-5em;">
                                    <p class="explore-rating-price">
                                        <a href="#"> @comment.CreatedOn</a>
                                        <span class="explore-price-box">
                                            <span class="explore-price">@comment.UserRole</span>
                                        </span>
                                        <a asp-controller="Profile" asp-action="Index" asp-route-id="@comment.UserId">@comment.UserName</a>
                                    </p>
                                </div>

                                <div class="media-body" style="display:block!important;">
                                    <p style="margin-left: 9.5em; width: 66em;">@comment.Content</p>
                                    <br>
                                    @if (comment.Images.Count > 0)
                                    {
                                        foreach (var img in comment.Images)
                                        {
                                            <a href="@img">
                                                <img style="width:auto; max-height:43em;" class="img-responsive thumbnail" src="@img" alt="Image">
                                            </a>
                                        }
                                    }
                                    <div class="pad-ver">
                                        @if (this.User.Id() == comment.UserId)
                                        {
                                            <a style="margin-left: 11em;" class="btn btn-sm btn-danger" asp-controller="Comment" asp-action="Delete" asp-route-id="@comment.Id">Изтрий</a>
                                        }

                                    </div>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    }
                    <nav style="display: ruby-text;">
                        <ul class="pagination pagination-lg">
                            @for (int i = 1; i <= (int)TempData["commentsPages"]; i++)
                            {
                                if ($"{i}" == TempData["currCommentPage"].ToString())
                                {
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#" tabindex="-1">@i</a>
                                    </li>
                                }
                                else
                                {
                                    <li class="page-item">
                                        <a class="page-link" asp-controller="Post" asp-action="Details" asp-route-id="@Model.Id" asp-route-currpage="@i">@i</a>
                                    </li>
                                }
                            }
                        </ul>
                    </nav>
                }
            </div>
        </div>
    </div>
    </div>
</section>

<style>
    .carousel-inner > .item {
        height: 36em;
    }
</style>


